{% extends 'base.html' %}
{% load static %}
{% block title %}Enhance - CHARACTERS{% endblock %}
{% block meta-description %}Letters ignite with fearless vision, shaping brands that leave a lasting mark.{% endblock %}
{% block canonical-link %}https://studiocharacters.com/portfolio/enhance{% endblock %}
{% block og-url %}https://studiocharacters.com/static/images/og.png{% endblock %}
{% block og-title %}Enhance - CHARACTERS{% endblock %}
{% block og-sitename %}Enhance - CHARACTERS{% endblock %}
{% block og-imgalt %}Enhance - CHARACTERS{% endblock %}
{% block og-description %}Letters ignite with fearless vision, shaping brands that leave a lasting mark.{% endblock %}
{% block twitter-imgalt %}Enhance - CHARACTERS{% endblock %}
{% block twitter-title %}Enhance - CHARACTERS{% endblock %}
{% block twitter-description %}Letters ignite with fearless vision, shaping brands that leave a lasting mark.{% endblock %}

{% block content %}
<main id="portfolio-1-main-1" class="relative w-full h-auto flex justify-center lg:flex-row flex-col bg-linear-1">
    <section class=" w-full h-auto mt-20 mb-10">
        <div class="grid lg:grid-cols-3 grid-cols-1 gap-10">
            <div id="portfolio-1-section-1" class="h-screen lg:mx-20 mx-5">
                <div class="w-full h-[1px] mb-5 bg-black"></div>
                <h1 class="lg:text-4xl text-2xl mb-5 uppercase text-animate">Transformative Collaboration: Elevating Enhance Dermatology Wellness Clinic</h1>
                <p class="mb-3">Our strategic collaboration with Enhance Dermatology Wellness Clinic demonstrates the transformative power of branding and design in the competitive healthcare landscape. </p>
                <p class="mb-3">Facing challenges of brand recognition and patient trust, we aimed to create a distinctive identity that fosters credibility and enhances the patient experience. Through meticulous strategy, we developed a comprehensive brand encapsulating the clinic's values. This included a unique logo, colour palette, and visual elements that resonate with patients. The result? Increased brand recognition, elevated patient trust, and an overall enhanced patient experience. </p>
                <p class="mb-3">This partnership showcases how effective branding and design can propel a healthcare provider to new levels of excellence.</p>
            </div>
            <div id="portfolio-1-section-2"
                class="lg:col-start-2 col-start-1 col-span-2 lg:mx-20 mx-5 lg:py-0 py-3 bg-linear-1 z-[1]">
                <div class="grid lg:gap-10 gap-2">
                    <div>
                        <picture>
                            <source srcset="
                                {% static 'images/enhance-3.webp' %} 2x" type="image/webp">
                            <source srcset="
                                {% static 'images/enhance-3.jpg' %} 2x" type="image/jpeg">
                            <img class="w-full lg:h-[595px] h-auto object-cover" src="{% static 'images/enhance-3.jpg' %}"
                                alt="ENHANCE">
                        </picture>
                    </div>
                    <div class="portfolio-1-section-2-imgs">
                        <picture>
                            <source srcset="
                                {% static 'images/enhance-1.webp' %} 2x" type="image/webp">
                            <source srcset="
                                {% static 'images/enhance-1.jpg' %} 2x" type="image/jpeg">
                            <img class="w-full lg:h-[595px] h-auto object-cover" src="{% static 'images/enhance-1.jpg' %}"
                                alt="ENHANCE">
                        </picture>
                    </div>
                    <div class="portfolio-1-section-2-imgs">
                        <picture>
                            <source srcset="
                                {% static 'images/enhance-2.webp' %} 2x" type="image/webp">
                            <source srcset="
                                {% static 'images/enhance-2.jpg' %} 2x" type="image/jpeg">
                            <img class="w-full lg:h-[595px] h-auto object-cover" src="{% static 'images/enhance-2.jpg' %}"
                                alt="ENHANCE">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer id="footer" class="w-full h-auto relative bg-[#414648]">
    <section id="footer-enquiry"
        class="relative w-auto h-screen flex justify-center items-center  bg-linear-1-invert lg:rounded-b-[100px] rounded-b-[50px]">
        <div class="relative w-full h-full flex justify-center items-center">
            <div class="lg:w-9/12 w-10/12">
                <div class="grid lg:grid-cols-2 grid-cols-1 gap-5">
                    <div class="flex flex-col">
                        <div class="mt-16">
                            <h3 class="font-metro-medium font-medium lg:text-9xl text-6xl mb-5 text-animate">
                                Get<br>in touch</h3>
                            <p class="uppercase tracking-wide">Please contact us by filling the
                                following form.</p>
                        </div>
                    </div>
                    <div class="footer-form flex justify-center">
                        <form action="{% url 'enhance' %}" method="POST"
                            class="footer-enquiry-form-fields lg:w-9/12 w-full lg:mt-16 mt-0 font-mono text-center">
                            {% csrf_token %}
                            <div class="mt-2.5">
                                {{ form.name }}
                                <div class="relative">
                                    <div class="w-full h-[0.1rem] bg-gray-400"></div>
                                    <div class="form-border-2 bg-black w-full h-[0.1rem] absolute top-0 left-0">
                                    </div>
                                </div>
                                {% if form.name.errors %}
                                    <div class="text-red-500 mt-1 text-sm">{{ form.name.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="mt-2.5">
                                {{ form.email }}
                                <div class="relative">
                                    <div class="w-full h-[0.1rem] bg-gray-400"></div>
                                    <div class="form-border-2 bg-black w-full h-[0.1rem] absolute top-0 left-0">
                                    </div>
                                </div>
                                {% if form.email.errors %}
                                    <div class="text-red-500 mt-1 text-sm">{{ form.email.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="mt-2.5">
                                {{ form.phone }}
                                <div class="relative">
                                    <div class="w-full h-[0.1rem] bg-gray-400"></div>
                                    <div class="form-border-2 bg-black w-full h-[0.1rem] absolute top-0 left-0">
                                    </div>
                                </div>
                                {% if form.phone.errors %}
                                    <div class="text-red-500 mt-1 text-sm">{{ form.phone.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="mt-2.5">
                                {{ form.price }}
                                <div class="relative">
                                    <div class="w-full h-[0.1rem] bg-gray-400"></div>
                                    <div class="form-border-2 bg-black w-full h-[0.1rem] absolute top-0 left-0">
                                    </div>
                                </div>
                                {% if form.price.errors %}
                                    <div class="text-red-500 mt-1 text-sm">{{ form.price.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="mt-2.5">
                                {% if form.errors %}
                                    <ul>
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li>{{ field.label }}: {{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            {% comment %} {{ form.captcha }}
                            {% for error in form.captcha.errors %}
                            <p>{{ error }}</p>
                            {% endfor %} {% endcomment %}
                            <div class="mt-10 w-full flex justify-center">
                                <div class="w-1/2">
                                    <button type="submit"
                                        class="block w-full rounded-full bg-transparent px-3.5 py-2.5 text-center text-sm font-semibold ring-1 ring-black hover:bg-black hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white transition-all duration-500 tracking-widest">SEND</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}